<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>mapX</key>
		<integer>248</integer>
		<key>mapY</key>
		<integer>44</integer>
		<key>lon</key>
		<real>22.22</real>
		<key>lat</key>
		<real>22.22</real>
		<key>locations</key>
		<dict>
			<key>Lab 3881</key>
			<string>10</string>
			<key>Restrooms</key>
			<string>15</string>
			<key>Casino</key>
			<string>40</string>
			<key>Bar</key>
			<string>90</string>
		</dict>
		<key>name</key>
		<string>Lab 3882</string>
	</dict>
	<dict>
		<key>mapX</key>
		<integer>40</integer>
		<key>mapY</key>
		<integer>217</integer>
		<key>lon</key>
		<real>-115.1685</real>
		<key>lat</key>
		<real>36.1224</real>
		<key>locations</key>
		<dict>
			<key>Lab 3882</key>
			<string>90</string>
			<key>Restrooms</key>
			<string>75</string>
			<key>Casino</key>
			<string>50</string>
			<key>Lab 3881</key>
			<string>100</string>
		</dict>
		<key>name</key>
		<string>Bar</string>
	</dict>
	<dict>
		<key>mapX</key>
		<integer>288</integer>
		<key>mapY</key>
		<integer>526</integer>
		<key>lon</key>
		<real>44.44</real>
		<key>lat</key>
		<real>44.44</real>
		<key>locations</key>
		<dict>
			<key>Lab 3882</key>
			<string>40</string>
			<key>Restrooms</key>
			<string>25</string>
			<key>Bar</key>
			<string>50</string>
			<key>Lab 3881</key>
			<string>50</string>
		</dict>
		<key>name</key>
		<string>Casino</string>
	</dict>
	<dict>
		<key>mapX</key>
		<integer>40</integer>
		<key>mapY</key>
		<integer>44</integer>
		<key>lon</key>
		<real>33.33</real>
		<key>lat</key>
		<real>33.33</real>
		<key>locations</key>
		<dict>
			<key>Lab 3882</key>
			<string>15</string>
			<key>Bar</key>
			<string>75</string>
			<key>Casino</key>
			<string>25</string>
			<key>Lab 3881</key>
			<string>25</string>
		</dict>
		<key>name</key>
		<string>Restrooms</string>
	</dict>
	<dict>
		<key>mapX</key>
		<integer>288</integer>
		<key>mapY</key>
		<integer>183</integer>
		<key>lon</key>
		<real>11.11</real>
		<key>lat</key>
		<real>11.11</real>
		<key>locations</key>
		<dict>
			<key>Lab 3882</key>
			<string>10</string>
			<key>Restrooms</key>
			<string>25</string>
			<key>Casino</key>
			<string>50</string>
			<key>Bar</key>
			<string>100</string>
		</dict>
		<key>name</key>
		<string>Lab 3881</string>
	</dict>
</array>
</plist>
