<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>duration</key>
		<integer>7</integer>
		<key>image</key>
		<string>piggyback.png</string>
		<key>description</key>
		<string>The &quot;piggyback&quot; is one of the oldest forms of transporation.  Enjoy a guided tour on one of the Adobe&apos;s finest stallions.</string>
		<key>costPerUnitTraveled</key>
		<real>0.15</real>
		<key>name</key>
		<string>Nate Price</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>5</integer>
		<key>image</key>
		<string>wheelbarrow.png</string>
		<key>description</key>
		<string>Kick up your feet and enjoy the ride.  Your safety is not ensured.  Rider discretion is advised.</string>
		<key>costPerUnitTraveled</key>
		<real>0.3</real>
		<key>name</key>
		<string>Wheelbarrow</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>3</integer>
		<key>image</key>
		<string>hoverboard.png</string>
		<key>description</key>
		<string>Travel in style as you vicariously star in everyone&apos;s favorite movie from the 80&apos;s.</string>
		<key>costPerUnitTraveled</key>
		<real>0.5</real>
		<key>name</key>
		<string>Hoverboard</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>2</integer>
		<key>image</key>
		<string>segway.png</string>
		<key>description</key>
		<string>No words will be necessary when you roll into the room on this sweet piece of machinery.</string>
		<key>costPerUnitTraveled</key>
		<real>0.75</real>
		<key>name</key>
		<string>Segway</string>
	</dict>
</array>
</plist>
